## [Start] Setting "active" to default value of "true". **
$util.qr($context.args.input.put("active", $util.defaultIfNull($ctx.args.input.active, true)))
## [End] Setting "active" to default value of "true". **
{}